.header {
  grid-area: header;
  background-color: aqua;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 60px;
}
.header img {
  width: 100%;
  display: block;
}
.loginBlock {
}
.loginButton {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  border: 2px solid black;
  padding: 5px;
  transform: scale(1);
  box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.5s, transform 0.5s;
}
.loginButton:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
  transition: box-shadow 0.5s, transform 0.5s;
}
.authBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileAvatar {
  max-width: 60px;
  margin-right: 20px;
}
.profileAvatar img {
  width: 100%;
}
